.contacts {
  display: flex;
  flex-direction: column;
  &__logo {
    padding-bottom: 32px;
  }
  
  &__phone {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 15px;
  }

  &__mail {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.75);
  }
}

