.goods {

  &__block {
    padding-top: 80px;
    padding-bottom: 125px;
    position: relative;
  }
  

  &__title {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    margin-bottom: 90px;
  }
  
  &__text {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $btn-bg;
    padding-bottom: 11px;
    border-bottom: 1px solid #C4C0B6;
    position: absolute;
    transform: translate(-50%, -50%);
    right: 0;
    top: 20%;
    transition: color 0.3s ease-in-out;
    
      &:hover {
        color: $light-gray;
      }
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
  }

  &__item {}

  &__product {}
}
