.pagination {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  
  &__number {
    font-family: 'Prata';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(27, 26, 23, 0.82);
  }
}

