.slider {
  // background-color: #F7F5EF;

  &__bg {
      display: flex;
      width: 100%;
      height: 100%;

      &-left {
        width: 40%;
        height: 512px;
        background-color: #F7F5EF;
        flex-basis: 40%;
        position: absolute;
        z-index: -10;
      }
  
      &-right {
        width: 60%;
        height: 512px;
        position: absolute;
        z-index: -10;
      }

      &-decor {
        position: absolute;
        right: 0;
        z-index: -10;
      }
    }
  

  &__block {
    padding: 32px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: flex;
    gap: 69px;
  }
  
  &__img {
    display: block;
  }

  &__title {
    padding-top: 88px;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    margin-bottom: 38px;
  }

  &__text {
    font-size: 16px;
    line-height: 150%;
    color: $btn-bg;
    margin-bottom: 45px;
    max-width: 380px;
  }

  &__btn {
    background-color: #D4B098;
    padding: 25px 38px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: $white;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
    
    &:hover {
      background-color: $light-gray;
    }
  }
}


